.main-page {
    background-color: #cdd1d4;
    padding: 2rem;
  }
  
  h1 {
    color: #343a40;
  }
  
  p {
    color: #6c757d;
  }

  .info-box {
    border: 2px solid #343a40;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #ffffff;
    margin: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info-box h2 {
    color: #343a40;
  }
  
  .info-box p {
    color: #6c757d;
  }